body
    margin 0px

.commits-container
    margin-top 30px
    padding 10px 20px
    height 200px
    border 1px solid #AFAFAF
    border-radius 5px
    overflow scroll

.text-center
    text-align center

.navbar-custom-container
    padding 10px 20px

.custom-navbar-border-bottom
    border-bottom 1px solid #adadad

.navbar-brand
    padding 5px 10px

.navbar-brand:hover
    padding 5px 10px
    color #efb8ff !important

.user-card-container
    width auto
    height 200px
    border 1px solid #dfdfdf
    border-radius 5px
    padding 20px 10px
    display flex
    flex-direction column

    .user-img
        max-width 100px
        max-height 100px
        border-radius 50%
    
    .user-card-info
        display flex
        flex-direction row

        .user-info
            padding 10px 20px
            
            .user-data-field
                width 50%
                min-width 150px
                margin 2px 0px

    .user-card-actions
        margin-top 10px
        display flex
        flex-direction column
        padding 0px 20px
        .profile-link
            background-color #efb8ff
            padding 6px 2px
            text-decoration none
            text-align center
            cursor pointer
            width 120px
            border-radius 10px
            color white

.flex-row
    display flex
    flex-direction row

.flex-column
    display flex
    flex-direction column

.space-between
    justify-content space-between

.align-center
    align-items center

.full-width
    width 100%

.width-70
    width 70%